form {
  margin-bottom: 30px;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  font-size: 30px;
  text-transform: uppercase;
  border-style: none;
  padding: 20px 30px;
  background-color: yellow;
  font-family: arial;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 0;
  box-shadow: 0 0 0 8px black, 0 0 0 14px yellow;
  transition: 0.8s;
}

button:hover {
  background-color: darkgoldenrod;
  box-shadow: 0 0 0 10px black, 0 0 0 20px yellow;
}

h4 {
  margin-top: 70px;
}