.header {
    background-color: white;
    color: black;
    padding-left: 0px;
    padding-right: 0px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between-;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    /*    background-color: white;*/

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    height: 55px;

}

.left-section {
    width: 180px;
    /*
    display: flex;
    align-items: center;
*/
}

.header-link {
    display: inline-block;
    padding: 0px;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin-left: 0;
    color: black;

}


.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.thaiweed-logo {
    /* width: 130px; */
    /* margin-top: 5px; */
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    height: 58px;
    margin-left: 0px;
    
}


.middle-section {
    flex: 1;
    margin-left: 0px;
    margin-right: 0px;
    /* max-width: 500px; */
    display: flex;
    /*    align-items: center;*/
}

.search-bar {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
    width: 0;
}

.search-bar::placeholder {
    /* font-family: Roboto, Arial; */
    font-size: 16px;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
    position: relative;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
    opacity: 1;
}

.search-icon {
    height: 25px;
}

.voice-search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245);
    position: relative;
}

.voice-search-icon {
    height: 24px;
}

.right-section {
    width: 120px;
    flex-shrink: 0;
    display: flex;

    margin-right: 2px;

    align-items: center;
    justify-content: right;

}

.orders-link {
    color: black;
}

.returns-text {
    display: block;
    font-size: 13px;
}

.orders-text {
    display: block;
    font-size: 15px;
    font-weight: 700px;
}

.cart-link {
    color: black;
    display: flex;
    align-items: center;
    position: relative;
}

.cart-icon {
    width: 50px;
    /* align-items: start; */
}

.upload-icon {
    height: 24px;
}

.youtube-apps-icon {
    height: 24px;
}

.current-user-picture {
    height: 32px;
    border-radius: 16px;
}

.cart-text {
    margin-top: 12px;
    font-size: 15px;
    font-weight: 700;
}

.cart-quantity {
    color: black;
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    top: 12px;
    left: 14px;
    width: 26px;
    text-align: center;
    padding: 0px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.3);
}

.header-title {
    font-family: Roboto, Arial;
    font-weight: 500;
    font-size: 20px;
    justify-content: center;
    width: 100%;
}