.header {
    background-color: white;
    color: black;
    /* padding-left: 0px;
    padding-right: 0px; */
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    /*    background-color: white;*/

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    height: 45px;

}

.left-section {
    padding: 0;
    width: 82px;
    /* margin-left: 0;
     */
     margin: 0;
    height: 100%;
    display: flex;
    align-items: center;

}



.header-link {
    /* display: inline-block; */
    padding: 0px;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    margin: 0;
    color: black;
    text-align: center;
    height: 100%;
    flex: 1;
    margin-right: 8px;
    /* display: flex; */
}

.header-link:hover {
    background-color: rgb(235, 235, 235);
    border: 1px solid black;
  }

.header-title {
    font-family: Roboto, Arial;
    font-weight: 500;
    font-size: 14px;
    justify-content: center;
    width: 100%;
    text-align: center;
}




.thaiweed-logo {
    /* width: 130px; */
    /* margin-top: 5px; */
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    height: 45px;
    margin-left: 0px;
    margin-top: 0;
    
}

.thaiweed-mobile-logo {
    display: none;
  }
  
  @media (max-width: 575px) {
    .thaiweed-logo {
      display: none;
    }
  
    .thaiweed-mobile-logo {
      display: block;
      height: 45px;
      margin-top: 1 px;
    }
  }

.middle-section {
    flex: 1;
    /* margin-left: 1px; */
    /* margin-right: 1px; */
    max-width: 180px;
    display: flex;
    align-items: center;
    text-align: center;
}

.right-section {
    width: 124px;
    flex-shrink: 0;
    display: flex;

    /* margin-right: 3px; */
    margin: 0;
    padding: 0;

    align-items: center;
    justify-content: right;

}

.form-icon {
    /* height: 18px; */
    width: 15px;
}

.form-text {
    margin-top: 1px;
    font-size: 14px;
    font-weight: 700;
}

.cart-link {
    color: black;
    display: flex;
    align-items: center;
    position: relative;
}

.cart-icon {
    height: 40px;
    /* width: 40px; */
    /* align-items: start; */
}

.cart-text {
    margin-top: 12px;
    font-size: 15px;
    font-weight: 700;
}

.cart-quantity {
    color: black;
    font-size: 13px;
    font-weight: 700;
    position: absolute;
    top: 9px;
    left: 9px;
    width: 26px;
    text-align: center;
    padding: 0px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.3);
}

